/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media screen and (min-width: 1281px) {

    /* CSS */

}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media screen and (min-width: 1025px) and (max-width: 1280px) {

    /* CSS */

}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media screen and (min-width: 768px) and (max-width: 1024px) {

    /* CSS */

    /* Homepage */


    #hero #desc {
        font-size: 14px;
    }

    #hero small {
        font-size: 14px;
    }

    #hero .vendor img {
        width: 150px;
        height: 150px;
    }

    #hero .social-links {
        display: block;
    }

}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

    /* CSS */

    #hero #desc {
        font-size: 14px;
    }

    #hero small {
        font-size: 14px;
    }

    #hero .vendor img {
        width: 150px;
        height: 150px;
    }

}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media screen and (min-width: 481px) and (max-width: 767px) {

    /* CSS */
    #hero #desc {
        font-size: 14px;
    }

    #hero small {
        font-size: 14px;
    }

    #hero .vendor img {
        width: 120px;
        height: 120px;
    }

}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media screen and (min-width: 320px) and (max-width: 480px) {

    /* Homepage */

    #hero {
        height: auto;
    }


    #hero #desc {
        font-size: 14px;
    }

    #hero small {
        font-size: 14px;
    }

    #hero .vendor img {
        width: 120px;
        height: 120px;
    }


}